/* ChevySans — GM brand face, self-hosted (license confirmed by the site owner for this host, 2026-09-28; see fonts/LICENSING.md) */
@font-face {
  font-family: ChevySans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/chevysans-medium.woff2') format('woff2');
}

@font-face {
  font-family: ChevySans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/chevysans-demi.woff2') format('woff2');
}

@font-face {
  font-family: ChevySans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/chevysans-bold.woff2') format('woff2');
}

@font-face {
  font-family: ChevySansBlack;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/chevysans-black.woff2') format('woff2');
}
